<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All posts</h1>
    <div class="posts">
    <% for(post of posts) { %>
        <div class="card">
            <h3 class="user">
                @<%= post.username %>
            </h3>
            <h4>
                <%= post.content %>
            </h4>
            <br> <br>
            <a href="http://localhost:8080/posts/<%= post.id %>">see in detail</a> <br> <br>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit">edit post</a>
            <br>
            <br>
            <form  method="post" action="/posts/<%= post.id %>?_method=delete">
                <button>delete</button>
            </form>
        </div>
    <% } %>
</div>
<br><br><br><br>
<a href="http://localhost:8080/posts/new">create new post</a>
</body>
</html>